#flashcard-front {
  border: 5px solid gray;
  float: left;
  background-color: white;
  color: black;
}

#flashcard-back {
  display: none;
  border: 5px solid white;
  float: left;
  background-color: black;
  color: white;
}